* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    min-width: 36rem;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h4 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3rem;
}

table {
    min-width: 60rem;
    min-height: 36rem;
    border-collapse: collapse;
}

thead th , tfoot td{
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
}

table td, table th {
    white-space: nowrap;
    overflow-y: auto;
    border: 0.01rem solid rgba(0, 0, 0, 0.2);
    text-align: center;
}

caption {
    font-style: italic;
    font-size: 1.6rem;
}