.main-bg {
    background-image: url(img/main-bg.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--white-color);
    z-index: -1;
}

.main-bg2 {
    background-image: url(img/main-bg2.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--white-color);
    z-index: -1;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.main-white {
    background: var(--white-color);
}


.intro-content {
    margin-top: 7.1rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    min-height: 100dvh;
    gap: var(--gap);
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.intro-content-two {
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 100dvh;
    padding: 8rem;
}

.intro-text-content {
    margin-top: 7.1rem;
}

.grid-main-heading {
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 10rem;

}

.top3-content {
    display: flex;
    min-height: 100dvh;
    flex-flow: column wrap;
    justify-content: center;
}

.top3-grid {
    margin-top: 7.1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: var(--gap);
    padding: 5rem;
    counter-reset: grid-counter;
}

.top3-grid h3 {
    font-size: 3rem;
    margin: 1rem;

}

.gallery {
    margin: 7.1rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(36rem, 2fr));
    gap: var(--gap);
    padding: 4rem;
    min-height: 100dvh;
    justify-items: center;
    align-items: center;
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-360 {
    aspect-ratio: 360 / 360;
    object-fit: cover;
}

.gallery-effect img {
    transition: all 300ms ease-in-out;
}

.gallery-effect img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.responsive-table {
    width: 100%;
    overflow-x: auto;
}

.intro-img2 img {
    max-width: 100%;
    height: auto;
    margin: 5rem;
}

.contact-form {
    grid-column: span 2;
    max-width: 200rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    width: 100%;
}

.form-grid {
    border: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group:nth-child(3) {
    grid-column: span 2;
}

.form-group:nth-child(4) {
    grid-column: span 2;
}

.form-group input,
.form-group textarea {
    min-height: 5rem;
    font-size: 2rem;
    border: 0.1rem solid transparent;
    outline: none;
    transition: box-shadow 0.2s, border 0.2s;
}

.form-group:nth-child(5) {
    grid-column: 2;
    justify-self: end;
}

.form-group button {
    width: auto;
    background: none;
    padding: 0.4rem 1.2rem;
    font-size: 1.5rem;
    border: 0.1rem solid var(--white-color);
    color: var(--white-color);
    min-height: 5rem;
}

.form-group button:hover {
    color: var(--primary-color);
    background-color: var(--white-color);
    cursor: pointer;

}

.form-group input:hover,
.form-group textarea:hover {
    box-shadow: 0 0 1rem 0.2rem var(--white-color);
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 1.5rem var(--white-color);
}

.intro-content-two {
    min-height: 100dvh;
}

@media (max-width: 80rem){
    .intro-content, .top3-grid{
        grid-template-columns: 1fr;
    }

}


@media (max-width: 80rem) {
    .intro-content-two {
        min-height: auto;
        justify-content: flex-start;
    }
}

@media (max-width: 80rem) {
    .intro-content-two h2 {
        font-size: 3.2rem;
        line-height: 1.3;
        margin-bottom: 2rem;
        text-align: left;
    }
}

@media (max-width: 80rem) {
    .gallery {
        grid-template-columns: 1fr;
        padding: 2rem;
    }
}

@media (max-width: 80rem) {
    .menu nav {
        width: 100%;
        overflow-x: auto;
    }

    .menu ul {
        flex-wrap: nowrap;
        white-space: nowrap;
    }

    .menu ul li a {
        padding: 1rem 1.2rem;
        font-size: 1.4rem;
    }
}






