.main-bg {
    background-image: url(img/main-bg.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--white-color);
    z-index: -1;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);

}

.main-white {
    background: var(--white-color);
}

.section {
    min-height: 100vh;
}

.intro-content {
    margin-top: 7.1rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    height: 100vh;
    gap: var(--gap);
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.top3-content {
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    height: 100vh;
}





